/* Main Syngenta Blue Color #004796 */
/* Main Syngenta Pink Color #f63f57 */

:root {
    --greenDark: #62801e;
    --greenBtn: #acc334;
    --black: #000000;
    --white: #ffffff;
}

html, body{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

img{
    width: 100%;
}

*{
    text-decoration: none;
    outline: none;
    border: none;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, p{
    padding: 0;
    margin: 0;
}

/*---------- ---------- ----------
    MainBanner
---------- ---------- ----------*/

section#MainBanner{
    height: 800px;
    background-color: rgb(235, 235, 235);
}
section#MainBanner .slider-infocont{
    position: absolute;
    width: 50%;
    bottom: 20%;
    text-align: center;
}
section#MainBanner .slider-infocont img{
    width: 40%;
}
section#MainBanner .slider-infocont h2{
    font-size: 4rem;
    color: var(--greenDark);
}
section#MainBanner .slider-infocont p{
    font-size: 2rem;
    padding-bottom: 50px;
}
section#MainBanner .slider-infocont p span{
    color: var(--greenDark);
}
section#MainBanner .slider-infocont a{
    min-width: 300px;
}
@media(max-width: 600px){
    section#MainBanner{
        height: 350px;
    }
    section#MainBanner .slider-infocont{
        width: 100% !important;
        bottom: 20% !important;
        left: 0 !important;
        padding: 0 20px !important;
        text-align: center !important;
    }
    section#MainBanner .slider-infocont h2{
        font-size: 2rem;
    }
    section#MainBanner .slider-infocont p{
        font-size: 1.5rem;
        padding-bottom: 20px;
    }
    section#MainBanner .slider-infocont a{
        font-size: 1rem;
        min-width: inherit;
    }
}












section#MainCTA{
    padding:80px 0;
    background-color: var(--greenDark);
}
section#MainCTA .container{
    display: flex;
}
section#MainCTA .container .info-cont{
    width: 50%;
}
section#MainCTA .container .info-cont h3{
    color: white;
    font-size: 3rem;
    padding-bottom: 30px;
}
section#MainCTA .container .info-cont p{
    color: white;
    font-size: 1.8rem;
}
section#MainCTA .container .info-cont a{
    border-radius: 25px;
    padding: 20px 40px;
    color: var(--white);
    background-color: var(--greenBtn);
    display: block;
    text-align: center;
    width: 300px;
    margin: 5% auto;
    font-size: 3rem;
    font-weight: bold;
}
section#MainCTA .container .info-cont a:hover{
    border: 4px solid #ff8999;
    text-decoration: underline;
}
@media(max-width: 600px){
    section#MainCTA .container{
        display: block;
    }
    section#MainCTA .container .info-cont{
        width: 100%;
        text-align: center;
    }
    section#MainCTA .container .info-cont h3{
        font-size: 2rem;
    }
    section#MainCTA .container .info-cont p{
        font-size: 1rem;
    }
    section#MainCTA .container .info-cont a{
        font-size: 1.5rem;
        width: 100%;
    }
}






section#MainSlogan{
    padding: 200px 0;
}
section#MainSlogan .container .info-cont{
    width: 60%;
    padding:0 50px;
}
section#MainSlogan .container .info-cont h2{
    color: var(--greenDark);
    font-size: 3rem;
    padding-bottom: 50px;
}
section#MainSlogan .container .info-cont p{
    font-size: 2rem;
}
@media(max-width: 600px){
    section#MainSlogan{
        padding: 100px 0;
    }
    section#MainSlogan .container .info-cont{
        width: 100%;
        padding: 0;
    }
    section#MainSlogan .container .info-cont h2{
        padding-bottom: 25px;
        font-size: 2rem;
    }
    section#MainSlogan .container .info-cont p{
        font-size: 1rem;
    }
}










.txt-white{ color: #fff !important; }
.txt-black{ color: #000 !important; }
.txt-blue{ color: #004796 !important; }
.txt-pink{ color: #f63f57 !important; }

.main-button{
    background-color: var(--greenDark);
    color: white;
    font-size: 2rem;
    padding: 30px 50px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
}
.fll-bg{
    background: no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: block;
    position: relative;
    padding: 0 20px;
}

#HomeMainContainer,
#TecnicosContainer{
    width: 100%;
    position: relative;
}

a {
    color: #fff;
}

header{
    position: fixed;
    width: 100%;
    z-index: 2;
    /* background-image: linear-gradient(rgba(255,255,255,0.5) , rgba(255,255,255,0)); */
    background-color: rgba(255, 255, 255, 0.7);
    left: 0;
    right: 0;
    top: 0;
    padding: 20px 75px;
}

header ul {
    margin-top: 20px;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #004696ec;
}

header li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 1.3rem;
}

header li a:hover,header .menu-btn:hover, header li a.active{
    background-color: #004696ec;
    color: #fdd36b;
    text-decoration: underline;
}

header .logo {
    display: block;
    float: left;
    max-width: 180px;
    padding: 10px 20px;

}

header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    background-color: #004696ec;
}

header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

header .menu-icon .navicon:before,
header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

header .menu-icon .navicon:before {
    top: 5px;
}

header .menu-icon .navicon:after {
    top: -5px;
}

header .menu-btn {
    display: none;
}

header .menu-btn:checked ~ .menu {
    max-height: 351px;
}

header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

@media (min-width: 841px) {
    header li {
        float: left;
    }
    header li a {
        padding: 20px 15px;
    }
    header .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    header .menu-icon {
        display: none;
    }
}

@media (max-width: 600px) {
    header{
        padding: 0;
        background-color: rgba(255, 255, 255, 1);
    }
}










#HomeMainContainer section,
#TecnicosContainer section
{
    width: 100%;
}

#HomeMainContainer section#MainBanner .swiper-container,
#HomeMainContainer section#MainBanner .swiper-container .swiper-wrapper,
#HomeMainContainer section#MainBanner .swiper-container .swiper-wrapper .swiper-slide
{
    width: 100%;
    height: 100%;
}
#HomeMainContainer section#MainBanner .swiper-container .swiper-wrapper .swiper-slide .container{
    height: 100%;
    position: relative;
}

#HomeMainContainer section#MainBanner .swiper-container .swiper-pagination{
    background-color: white;
    width: 200px;
    margin: 0 auto;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#HomeMainContainer section#MainBanner .swiper-container .swiper-pagination .swiper-pagination-bullet{
    background: none;
    width: 20px;
    height: 25px;
    padding: 5px 0;
    border-radius: 2px;
    border: 1px solid black;
}














#HomeMainContainer section#MainItems{
    padding: 40px;
    padding:100px 0;
}
#HomeMainContainer section#MainItems div#MainItemsTitles{
    padding: 0 0 100px 0;
}
#HomeMainContainer section#MainItems div#MainItemsTitles h3{
    color: var(--greenDark);
    font-weight: bold;
    text-align: center;
    font-size: 4rem;
}
#HomeMainContainer section#MainItems div#MainItemsTitles p{
    font-size: 2rem;
    color: black;
    text-align: center;
}
#HomeMainContainer section#MainItems div#ItemsCont{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
#HomeMainContainer section#MainItems div#ItemsCont div.item-tech{
    padding: 10px 30px 70px 30px;
    width: 33.33%;
}
#HomeMainContainer section#MainItems div#ItemsCont div.item-tech div.item-info{
    width: 100%;
    min-height: 300px;
}
#HomeMainContainer section#MainItems div#ItemsCont div.item-tech div.item-info p{
    font-size: 1.4rem;
}
#HomeMainContainer section#MainItems div#ItemsCont div.item-tech div.item-info p.subtitle-txt{
    height: 50px;
}
#HomeMainContainer section#MainItems div#ItemsCont div.item-tech div.item-info p.desc-txt{
    height: 140px;
}
#HomeMainContainer section#MainItems div#ItemsCont div.item-tech div.item-info .actions-item{
    display: flex;
    padding: 20px 0;
}
#HomeMainContainer section#MainItems div#ItemsCont div.item-tech div.item-info .actions-item a{
    color: var(--greenBtn);
    text-decoration: underline;
    position: relative;
    padding-top: 10px;
    padding-right: 10px;
}
#HomeMainContainer section#MainItems div#ItemsCont div.item-tech div.item-info .actions-item a img{
    position: absolute;
    width: 20px;
    left: 0;
    top: 10px;
}
#HomeMainContainer section#MainItems div#ItemsCont div.item-tech div.item-info .actions-item a:first-child img{
    top: 5px;
}
#HomeMainContainer section#MainItems div#ItemsCont div.item-tech div.item-info .actions-item a p{
    font-size: 1rem;
    padding-left: 28px;
    font-weight: bold;
    text-transform: uppercase;
}
#HomeMainContainer section#MainItems div#ItemsCont div.item-tech div.item-info .cont-img.h80{
    height: 80px;
}
#HomeMainContainer section#MainItems div#ItemsCont div.item-tech div.item-info .cont-img{
    display: block;
    padding-bottom: 20px;
}
#HomeMainContainer section#MainItems div#ItemsCont div.item-tech div.item-info .cont-img.img90{
    width: 90%;
}
#HomeMainContainer section#MainItems div#ItemsCont div.item-tech div.item-info .cont-img.img50{
    width: 50%;
}
#HomeMainContainer section#MainItems div#ItemsCont div.item-tech div.item-info .cont-img.img70{
    width: 70%;
}
@media (min-width: 769px){
    #HomeMainContainer section#MainItems div#ItemsCont div.item-tech div.item-info p.desc-txt{
        height: 220px;
    }
}
@media (min-width: 900px){
    #HomeMainContainer section#MainItems div#ItemsCont div.item-tech div.item-info p.desc-txt{
        height: 190px;
    }
}
@media (min-width: 1024px){
    #HomeMainContainer section#MainItems div#ItemsCont div.item-tech div.item-info p.desc-txt{
        height: 140px;
    }
}
@media (max-width: 768px){
    #HomeMainContainer section#MainItems div#ItemsCont div.item-tech{
        padding: 10px;
        width: 50%;
    }
}
@media(max-width: 600px){
    #HomeMainContainer section#MainItems div#ItemsCont div.item-tech div.item-info .actions-item{
        justify-content: center;
    }
    #HomeMainContainer section#MainItems div#MainItemsTitles h3{
        font-size: 2rem;
    }
    #HomeMainContainer section#MainItems div#MainItemsTitles p{
        font-size: 1rem;
    }
    #HomeMainContainer section#MainItems div#ItemsCont{
        padding: 0;
        margin: 0;
        display: block;
    }
    #HomeMainContainer section#MainItems div#ItemsCont div.item-tech{
        padding: 0 0 50px 0;
        margin: 0 0 50px 0;
        display: block;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid rgb(221, 221, 221);
    }
    #HomeMainContainer section#MainItems div#ItemsCont div.item-tech div.item-info .cont-img{
        margin: 0 auto;
    }
}










footer{
    padding: 150px;
}
footer div.container{
    display: flex;
}
footer div.container div.info-cont{
    width: 50%;
}
footer div.container div.info-cont p{
    color: white;
    font-size: 1.5rem;
}
footer div.container div.info-cont h4{
    font-weight: bold;
    color: #fff;
    font-size: 2em;
    padding-bottom: 10px;
}
footer div.container div.info-cont div.sn-links{
    display: flex;
    padding: 20px 0;
}
footer div.container div.info-cont div.sn-links a{
    width: 30px;
    margin-right: 10px;
    display: block;
}
footer #FooterLegal{
    display: flex;
    justify-content: center;
    padding: 100px 0 0 0;
}

footer #FooterLegal a{
    color: white;
    padding: 5px;
    padding-right: 25px;
    margin-right: 25px;
    font-size: 1.9rem;
    border-right: 1px solid #fff;
}
footer #FooterLegal a:hover{
    text-decoration: underline;
}

footer #FooterLegal a:last-child{
    padding-right: 0;
    margin-right: 0;
    border: none;
}
@media(max-width: 600px){
    footer{
        padding: 50px 30px;
    }
    footer div.container{
        display: block;
    }
    footer div.container div.info-cont{
        width: 100%;
        margin-top: 50px;
    }
    footer #FooterLegal{
        display: block;
        padding: 50px 0 0 0;
    }
    footer #FooterLegal a{
        color: white;
        padding: 5px;
        display: block;
        padding-right: 15px;
        margin-right: 5px;
        font-size: 1rem;
        border-right: none;
    }
}








/* ************************ Tecnicos Section ********************** */

#TecnicosContainer section#MainBanner .container{
    height: 100%;
    position: relative;
}
#TecnicosContainer section#MainBanner .container .slider-infocont{
    right: 0;
    width: 50%;
    left: inherit;
}
#TecnicosContainer section#IntroSection{
    padding: 100px 0;
}
#TecnicosContainer section#IntroSection h2{
    font-size: 3rem;
    text-align: center;
    font-weight: normal;
}
#TecnicosContainer section#IntroSection h2 a{
    color: #f63f57;
    font-weight: bold;
    text-decoration: underline;
}
#TecnicosContainer section#TableContacts .container table{
    border: none;
}
#TecnicosContainer section#TableContacts .container table td{
    font-size: 1.3rem;
    padding: 5px 15px;
}
#TecnicosContainer section#TableContacts .container table td a{
    color: #f63f57;
}
#TecnicosContainer section#TableContacts .container table th{
    background-color: #f63f57;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 1.5rem;
}
#TecnicosContainer section#TableContacts .container table tr:nth-child(even) {
    background-color: #ffd3d9;
}

@media(max-width: 600px){
    #TecnicosContainer section#IntroSection h2{
        font-size: 2rem;
    }
    #TecnicosContainer section#TableContacts .container{
        padding: 0;
    }
    #TecnicosContainer section#TableContacts .container table th{
        font-size: 1.5rem;
    }
    #TecnicosContainer section#TableContacts .container table td{
        font-size: 0.9rem;
        padding: 5px 15px;
    }
}







  /* ************************ Noticias Section ********************** */
#NoticiasContainer section#MainBanner .container{
    height: 100%;
    position: relative;
}
#NoticiasContainer section#IntroSection{
    padding: 100px 0;
}
#NoticiasContainer section#IntroSection h2{
    font-size: 3rem;
    text-align: center;
    font-weight: normal;
}
#NoticiasContainer section#IntroSection h2 a{
    color: #f63f57;
    font-weight: bold;
    text-decoration: underline;
}

#NoticiasContainer section#NewsContainerList .container .item-new{
    width: 100%;
    display: flex;
    padding: 20px 0;
}

#NoticiasContainer section#NewsContainerList .container .item-new .img-cont{
    width: 40%;
}
#NoticiasContainer section#NewsContainerList .container .item-new .info-cont{
    width: 60%;
    padding-left: 10%;
}
#NoticiasContainer section#NewsContainerList .container .item-new .info-cont h3{
    font-size: 3rem;
}
#NoticiasContainer section#NewsContainerList .container .item-new .info-cont p{
    font-size: 2rem;
}
#NoticiasContainer section#NewsContainerList .container .item-new .info-cont a{
    color: #f63f57;
    font-size: 2rem;
    display: block;
    margin: 0 0 0 auto;
    width: 200px;
    padding: 20px;
}

@media(max-width: 600px){
    #NoticiasContainer section#IntroSection h2{
        font-size: 2rem;
    }
    #NoticiasContainer section#NewsContainerList .container .item-new{
        display: block ;
    }
    #NoticiasContainer section#NewsContainerList .container .item-new .img-cont{
        width: 100%;
    }
    #NoticiasContainer section#NewsContainerList .container .item-new .info-cont{
        width: 100%;
        padding: 0;
    }
}






  /* ************************ Calendario Section ********************** */

#CalendarioContainer section#DatesListContent{
    padding-bottom: 50px;
}
#CalendarioContainer section#MainBanner .container{
    height: 100%;
    position: relative;
}
#CalendarioContainer section#IntroSection{
    padding: 100px 0;
}
#CalendarioContainer section#IntroSection h2{
    font-size: 3rem;
    text-align: center;
    font-weight: normal;
}
#CalendarioContainer section#IntroSection h2 a{
    color: #f63f57;
    font-weight: bold;
    text-decoration: underline;
}
#CalendarioContainer section#DatesListContent .container h3{
    font-size: 3rem;
    padding-bottom: 40px;
}
#CalendarioContainer section#DatesListContent .container table tr td{
    padding: 40px 0;
    border-bottom: 2px solid rgb(202, 202, 202);
}
#CalendarioContainer section#DatesListContent .container table td:first-child{
    text-align: center;
}
#CalendarioContainer section#DatesListContent .container table td p{
    font-size: 2rem;
}
#CalendarioContainer section#DatesListContent .container table td a{
    width: 100%;
}

@media(max-width: 600px){
    #CalendarioContainer section#DatesListContent{
        padding-bottom: 50px;
    }
    #CalendarioContainer section#IntroSection{
        padding: 50px 0;
    }
    #CalendarioContainer section#IntroSection h2{
        font-size: 2rem;
    }
    #CalendarioContainer section#DatesListContent .container h3{
        font-size: 2rem;
        padding: 20px;
    }
    #CalendarioContainer section#DatesListContent .container{
        padding: 0;
    }
    #CalendarioContainer section#DatesListContent .container table tr td{
        padding: 15px 0;
    }
    #CalendarioContainer section#DatesListContent .container table td p{
        font-size: 0.9rem;
    }
    #CalendarioContainer section#DatesListContent .container table td a{
        font-size: 0.9rem;
        padding: 5px 15px;
        padding: 5px;
        font-size: 0.6;
    }
}




 /* ************************ Certificacion Section ********************** */

#CertificacionContainer section#DatesListContent{
    padding-bottom: 50px;
}
#CertificacionContainer section#MainBanner .container{
    height: 100%;
    position: relative;
}
#CertificacionContainer section#IntroSection{
    padding: 100px 0;
}
#CertificacionContainer #IntroSection .container h1{
    font-size: 4rem;
    text-align: center;
    font-weight: normal;
    margin-bottom: 80px;
}
#CertificacionContainer section#IntroSection h2{
    font-size: 3rem;
    text-align: center;
    font-weight: normal;
}
#CertificacionContainer section#IntroSection h2 a{
    color: #f63f57;
    font-weight: bold;
    text-decoration: underline;
}
#CertificacionContainer section#StepcsCert .container{
    margin-top: 100px;
}
#CertificacionContainer section#StepcsCert .container .item-step{
    position: relative;
    padding-bottom: 50px;
    min-height: 150px;
}
#CertificacionContainer section#StepcsCert .container .item-step p{
    position: absolute;
    left: 0;
    top: -10px;
    font-size: 9rem;
    color: var(--greenDark);
    font-weight: bold;
}
#CertificacionContainer section#StepcsCert .container .item-step h2{
    font-size: 4rem;
    color: var(--greenDark);
    text-align: center;
}
#CertificacionContainer section#StepcsCert .container .item-step h3 a{
    color: var(--greenDark);
}
#CertificacionContainer section#StepcsCert .container .item-step h3{
    padding-left: 150px;
    font-size: 2rem;
    font-weight: normal;
}
#CertificacionContainer section#StepcsCert .container .center{
    display: flex;
    align-items: center;
    justify-content: center;
}
#CertificacionContainer section#StepcsCert .container .center .main-button{
    margin-top: 40px;
    margin-bottom: 40px;
    cursor: pointer;
}

#Table .container{
    padding: 20px;
}
#Table .container .row{
    display: flex;
    justify-content: center;
}
#Table .container .row .table {
    width: 50%;
    height: 100%;
    border: 2px solid gray;
}

#Table .container .row .table h1{
    padding: 20px;
    font-size: 2em;
}
#Table .container .row .main-button{
    margin-top: 40px;
    cursor: pointer;
}










/*---------- ---------- ---------- ---------- ---------- ----------
    Contacto Section
---------- ---------- ---------- ---------- ---------- ----------*/
#ContactoContainer section#ContactFormSection .container h2{
    text-align: center;
    font-size: 3rem;
    color: var(--greenDark);
}
.container__p{
    text-align: center;
    font-size: 2rem;
    padding:30px 0;
}

/*---------- ---------- ----------
    Contacto Icon
---------- ---------- ----------*/
#ContactoContainer section#MainItems{
    padding: 40px;
    padding:10px 0;
}
#ContactoContainer section#MainItems div#MainItemsTitles{
    padding: 50px 100px;
}
#ContactoContainer section#MainItems div#MainItemsTitles h2{
    color: var(--greenDark);
    font-weight: bold;
    text-align: center;
    font-size: 3rem;
}


#ContactoContainer section#MainItems div#ItemsCont{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
#ContactoContainer section#MainItems div#ItemsCont div.item-tech{
    padding: 10px 30px 70px 30px;
    width: 33.33%;
}
#ContactoContainer section#MainItems div#ItemsCont div.item-tech div.item-info{
    width: 100%;
    min-height: 300px;
}


#ContactoContainer section#MainItems div#ItemsCont div.item-tech div.item-info p.desc-txt{
    font-size: 1.5em;
    text-align: center
}
#ContactoContainer section#MainItems div#ItemsCont div.item-tech div.item-info .cont-img{
    display: block;
    /* padding-bottom: 20px; */
    text-align: center;
}
#ContactoContainer section#MainItems div#ItemsCont div.item-tech div.item-info .cont-img img{
    width: 50%;
}




/* #ContactoContainer section#MainItems div#ItemsCont div.item-tech div.item-info .cont-img.h80{
    height: 120px;
    border: teal 1px solid;
}
#ContactoContainer section#MainItems div#ItemsCont div.item-tech div.item-info .cont-img.img50{
    text-align: center;
}
#ContactoContainer section#MainItems div#ItemsCont div.item-tech div.item-info .cont-img img{
    width: 50%;
} */




@media (min-width: 769px){
    #ContactoContainer section#MainItems div#ItemsCont div.item-tech div.item-info p.desc-txt{
        height: 220px;
    }
}
@media (min-width: 900px){
    #ContactoContainer section#MainItems div#ItemsCont div.item-tech div.item-info p.desc-txt{
        height: 190px;
    }
}
@media (min-width: 1024px){
    #ContactoContainer section#MainItems div#ItemsCont div.item-tech div.item-info p.desc-txt{
        height: 140px;
    }
}
@media (max-width: 768px){
    #ContactoContainer section#MainItems div#ItemsCont div.item-tech{
        padding: 10px;
        width: 50%;
    }
}
@media(max-width: 600px){
    #ContactoContainer section#MainItems div#ItemsCont div.item-tech div.item-info .actions-item{
        justify-content: center;
    }
    #ContactoContainer section#MainItems div#MainItemsTitles h3{
        font-size: 2rem;
    }
    #ContactoContainer section#MainItems div#MainItemsTitles p{
        font-size: 1rem;
    }
    #ContactoContainer section#MainItems div#ItemsCont{
        padding: 0;
        margin: 0;
        display: block;
    }
    #ContactoContainer section#MainItems div#ItemsCont div.item-tech{
        padding: 0 0 50px 0;
        margin: 0 0 50px 0;
        display: block;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid rgb(221, 221, 221);
    }
    #ContactoContainer section#MainItems div#ItemsCont div.item-tech div.item-info .cont-img{
        margin: 0 auto;
    }
}

/*---------- ---------- ----------
    Formulario - input
---------- ---------- ----------*/
.formulario {
    padding: 60px 0;
}
.formulario__row{
    display: flex;
}
.formulario__row .formulario__grupo:first-child{
    padding-right: 20px;
}
.formulario__row .formulario__grupo:last-child{
    padding-left: 20px;
}
.formulario__row .formulario__grupo{
    width: 50%;
    padding: 25px 0;
}
.formulario__row .formulario__grupo label{
    display: block;
    font-size: 2rem;
    padding-bottom: 10px;
    color: gray;
}
.formulario__grupo-input {
    position: relative;
}
.formulario__input {
	width: 100%;
	height: 45px;
    padding: 0 40px 0 10px;
    background-color: rgb(243, 243, 243);
    border-bottom: 2px solid gray;
    font-size: 1.5em;
}
.formulario__input:focus {
	border-bottom: 2px solid #0075FF;
	outline: none
}
.formulario__input-error {
	margin-bottom: 0;
    display: none;
    padding: 5px;
    font-size: 1.2em;
}
.formulario__input-error-activo {
    display: block;
}
.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
    opacity: 0;
}

/*---------- ---------- ----------
    TypeCheckbox
---------- ---------- ----------*/
.checkbox{
    width: 100%;
    font-size: 2rem;
}
.checkbox__title{
    color: gray;
}
.checkbox__row{
    padding: .5em 1em;
}
.checkbox__item{
    margin-right: 10PX;
    color: black;
}

/*---------- ---------- ----------
    terminos
---------- ---------- ----------*/
#grupo__terminos{
    width: 100%;
    max-width: 800px;
    text-align: center;
    color: black;
    margin: 50px auto;
}
.formulario__label, .formulario__checkbox{
    font-size: 2rem;
}

/*---------- ---------- ----------
    color
---------- ---------- ----------*/
.formulario__grupo-terminos, .formulario__mensaje, .formulario__grupo-btn-enviar {
	grid-column: span 2;
}
.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}
.formulario__mensaje-activo {
	display: block;
}
.formulario__mensaje p {
	margin: 0;
}
.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.formulario__mensaje-exito {
	font-size: 14px;
	color: #24ca32;
	display: none;
}
.formulario__mensaje-exito-activo {
	display: block;
}

/*---------- ---------- ----------
    validacion
---------- ---------- ----------*/
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #24ca32;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #f63f57;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #f63f57;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border-bottom: 2px solid #f63f57;
}


/*---------- ---------- ----------
    media
---------- ---------- ----------*/
@media screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}
	.formulario__grupo-terminos,
	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
		grid-column: 1;
	}
}

@media(max-width: 600px){
    .formulario__row{
        display: block;
        font-size: 1.2em;
    }
    .formulario__row .formulario__grupo{
        width: 100%;
        padding: 10px 0 !important;
    }
    .formulario__row .formulario__grupo .formulario__label{
        padding-bottom: 5px;
        font-size: 1.4em;
    }
}
