/* Main Syngenta Blue Color #004796 */
/* Main Syngenta Pink Color #f63f57 */

html, body{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

img{
    width: 100%;
}

*{
    text-decoration: none;
    outline: none;
    border: none;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, p{
    padding: 0;
    margin: 0;
}

section#MainBanner{
    height: 800px;
    background-color: rgb(235, 235, 235);
}
section#MainBanner .slider-infocont{
    position: absolute;
    width: 60%;
    bottom: 30%;
}
section#MainBanner .slider-infocont h2{
    font-size: 4rem;
    color: #004796;
}
section#MainBanner .slider-infocont p{
    font-size: 2.5rem;
    padding-bottom: 50px;
}
section#MainBanner .slider-infocont a{
    min-width: 300px;
}
@media(max-width: 600px){
    section#MainBanner{
        height: 350px;
    }
    section#MainBanner .slider-infocont{
        width: 100% !important;
        bottom: 20% !important;
        left: 0 !important;
        padding: 0 20px !important;
        text-align: center !important;
    }
    section#MainBanner .slider-infocont h2{
        font-size: 2rem;
    }
    section#MainBanner .slider-infocont p{
        font-size: 1.5rem;
        padding-bottom: 20px;
    }
    section#MainBanner .slider-infocont a{
        font-size: 1rem;
        min-width: inherit;
    }
}












section#MainCTA{
    padding:80px 0;
    background-color: #f63f57;
}
section#MainCTA .container{
    display: flex;
}
section#MainCTA .container .info-cont{
    width: 50%;
}
section#MainCTA .container .info-cont h3{
    color: white;
    font-size: 3rem;
    padding-bottom: 30px;
}
section#MainCTA .container .info-cont p{
    color: white;
    font-size: 2rem;
}
section#MainCTA .container .info-cont a{
    border-radius: 10px;
    padding: 20px 40px;
    color: #f63f57;
    border: 4px solid #f63f57;
    background-color: #fff;
    display: block;
    text-align: center;
    width: 300px;
    margin: 5% auto;
    font-size: 3rem;
    font-weight: bold;
}
section#MainCTA .container .info-cont a:hover{
    border: 4px solid #ff8999;
    text-decoration: underline;
}
@media(max-width: 600px){
    section#MainCTA .container{
        display: block;
    }
    section#MainCTA .container .info-cont{
        width: 100%;
        text-align: center;
    }
    section#MainCTA .container .info-cont h3{
        font-size: 2rem;
    }
    section#MainCTA .container .info-cont p{
        font-size: 1rem;
    }
    section#MainCTA .container .info-cont a{
        font-size: 1.5rem;
        width: 100%;
    }
}






section#MainSlogan{
    padding: 200px 0;
}
section#MainSlogan .container .info-cont{
    width: 50%;
    padding:0 50px;
}
section#MainSlogan .container .info-cont h2{
    color: white;
    font-size: 3rem;
    padding-bottom: 50px;
}
section#MainSlogan .container .info-cont p{
    color: white;
    font-size: 2rem;
}
@media(max-width: 600px){
    section#MainSlogan{
        padding: 100px 0;
    }
    section#MainSlogan .container .info-cont{
        width: 100%;
        padding: 0;
    }
    section#MainSlogan .container .info-cont h2{
        padding-bottom: 25px;
        font-size: 2rem;
    }
    section#MainSlogan .container .info-cont p{
        font-size: 1rem;
    }
}










.txt-white{ color: #fff !important; }
.txt-black{ color: #000 !important; }
.txt-blue{ color: #004796 !important; }
.txt-pink{ color: #f63f57 !important; }

.main-button{
    background-color: #f63f57;
    color: white;
    font-size: 2rem;
    padding: 20px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}
.fll-bg{
    background: no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: block;
    position: relative;
    padding: 0 20px;
}

#HomeMainContainer,
#TecnicosContainer{
    width: 100%;
    position: relative;
}

a {
    color: #fff;
}

header{
    position: fixed;
    width: 100%;
    z-index: 2;
    /* background-image: linear-gradient(rgba(255,255,255,0.5) , rgba(255,255,255,0)); */
    background-color: rgba(255, 255, 255, 0.7);
    left: 0;
    right: 0;
    top: 0;
    padding: 20px 75px;
}

header ul {
    margin-top: 20px;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #004696ec;
}

header li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 1.3rem;
}

header li a:hover,header .menu-btn:hover, header li a.active{
    background-color: #004696ec;
    color: #fdd36b;
    text-decoration: underline;
}

header .logo {
    display: block;
    float: left;
    max-width: 180px;
    padding: 10px 20px;

}

header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    background-color: #004696ec;
}

header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

header .menu-icon .navicon:before,
header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

header .menu-icon .navicon:before {
    top: 5px;
}

header .menu-icon .navicon:after {
    top: -5px;
}

header .menu-btn {
    display: none;
}

header .menu-btn:checked ~ .menu {
    max-height: 351px;
}

header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

@media (min-width: 841px) {
    header li {
        float: left;
    }
    header li a {
        padding: 20px 15px;
    }
    header .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    header .menu-icon {
        display: none;
    }
}

@media (max-width: 600px) {
    header{
        padding: 0;
        background-color: rgba(255, 255, 255, 1);
    }
}










#HomeMainContainer section,
#TecnicosContainer section
{
    width: 100%;
}

#HomeMainContainer section#MainBanner .swiper-container,
#HomeMainContainer section#MainBanner .swiper-container .swiper-wrapper,
#HomeMainContainer section#MainBanner .swiper-container .swiper-wrapper .swiper-slide
{
    width: 100%;
    height: 100%;
}
#HomeMainContainer section#MainBanner .swiper-container .swiper-wrapper .swiper-slide .container{
    height: 100%;
    position: relative;
}

#HomeMainContainer section#MainBanner .swiper-container .swiper-pagination{
    background-color: white;
    width: 200px;
    margin: 0 auto;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#HomeMainContainer section#MainBanner .swiper-container .swiper-pagination .swiper-pagination-bullet{
    background: none;
    width: 20px;
    height: 25px;
    padding: 5px 0;
    border-radius: 2px;
    border: 1px solid black;
}














#HomeMainContainer section#MainItems{
    padding: 40px;
    padding:100px 0;
}
#HomeMainContainer section#MainItems div#MainItemsTitles{
    padding: 0 0 100px 0;
}
#HomeMainContainer section#MainItems div#MainItemsTitles h3{
    color: #f63f57;
    font-weight: bold;
    text-align: center;
    font-size: 4rem;
}
#HomeMainContainer section#MainItems div#MainItemsTitles p{
    font-size: 2rem;
    color: black;
    text-align: center;
}
#HomeMainContainer section#MainItems div#ItemsCont{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
#HomeMainContainer section#MainItems div#ItemsCont div.item-tech{
    padding: 10px 30px 70px 30px;
    width: 33.33%;
}
#HomeMainContainer section#MainItems div#ItemsCont div.item-tech div.item-info{
    width: 100%;
    min-height: 300px;
}
#HomeMainContainer section#MainItems div#ItemsCont div.item-tech div.item-info p{
    font-size: 1.4rem;
}
#HomeMainContainer section#MainItems div#ItemsCont div.item-tech div.item-info p.subtitle-txt{
    height: 50px;
}
#HomeMainContainer section#MainItems div#ItemsCont div.item-tech div.item-info p.desc-txt{
    height: 140px;
}
#HomeMainContainer section#MainItems div#ItemsCont div.item-tech div.item-info .actions-item{
    display: flex;
    padding: 20px 0;
}
#HomeMainContainer section#MainItems div#ItemsCont div.item-tech div.item-info .actions-item a{
    color: #f63f57;
    text-decoration: underline;
    position: relative;
    padding-top: 10px;
    padding-right: 10px;
}
#HomeMainContainer section#MainItems div#ItemsCont div.item-tech div.item-info .actions-item a img{
    position: absolute;
    width: 20px;
    left: 0;
    top: 10px;
}
#HomeMainContainer section#MainItems div#ItemsCont div.item-tech div.item-info .actions-item a:first-child img{
    top: 5px;
}
#HomeMainContainer section#MainItems div#ItemsCont div.item-tech div.item-info .actions-item a p{
    font-size: 1rem;
    padding-left: 28px;
    font-weight: bold;
    text-transform: uppercase;
}
#HomeMainContainer section#MainItems div#ItemsCont div.item-tech div.item-info .cont-img.h80{
    height: 80px;
}
#HomeMainContainer section#MainItems div#ItemsCont div.item-tech div.item-info .cont-img{
    display: block;
    padding-bottom: 20px;
}
#HomeMainContainer section#MainItems div#ItemsCont div.item-tech div.item-info .cont-img.img90{
    width: 90%;
}
#HomeMainContainer section#MainItems div#ItemsCont div.item-tech div.item-info .cont-img.img50{
    width: 50%;
}
#HomeMainContainer section#MainItems div#ItemsCont div.item-tech div.item-info .cont-img.img70{
    width: 70%;
}
@media (min-width: 769px){
    #HomeMainContainer section#MainItems div#ItemsCont div.item-tech div.item-info p.desc-txt{
        height: 220px;
    }
}
@media (min-width: 900px){
    #HomeMainContainer section#MainItems div#ItemsCont div.item-tech div.item-info p.desc-txt{
        height: 190px;
    }
}
@media (min-width: 1024px){
    #HomeMainContainer section#MainItems div#ItemsCont div.item-tech div.item-info p.desc-txt{
        height: 140px;
    }
}
@media (max-width: 768px){
    #HomeMainContainer section#MainItems div#ItemsCont div.item-tech{
        padding: 10px;
        width: 50%;
    }
}
@media(max-width: 600px){
    #HomeMainContainer section#MainItems div#ItemsCont div.item-tech div.item-info .actions-item{
        justify-content: center;
    }
    #HomeMainContainer section#MainItems div#MainItemsTitles h3{
        font-size: 2rem;
    }
    #HomeMainContainer section#MainItems div#MainItemsTitles p{
        font-size: 1rem;
    }
    #HomeMainContainer section#MainItems div#ItemsCont{
        padding: 0;
        margin: 0;
        display: block;
    }
    #HomeMainContainer section#MainItems div#ItemsCont div.item-tech{
        padding: 0 0 50px 0;
        margin: 0 0 50px 0;
        display: block;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid rgb(221, 221, 221);
    }
    #HomeMainContainer section#MainItems div#ItemsCont div.item-tech div.item-info .cont-img{
        margin: 0 auto;
    }
}











footer{
    padding: 150px;
}
footer div.container{
    display: flex;
}
footer div.container div.info-cont{
    width: 50%;
}
footer div.container div.info-cont p{
    color: white;
    font-size: 1.5rem;
}
footer div.container div.info-cont h4{
    font-weight: bold;
    color: #fff;
    font-size: 2em;
    padding-bottom: 10px;
}
footer div.container div.info-cont div.sn-links{
    display: flex;
    padding: 20px 0;
}
footer div.container div.info-cont div.sn-links a{
    width: 30px;
    margin-right: 10px;
    display: block;
}
footer #FooterLegal{
    display: flex;
    justify-content: center;
    padding: 100px 0 0 0;
}

footer #FooterLegal a{
    color: white;
    padding: 5px;
    padding-right: 25px;
    margin-right: 25px;
    font-size: 1.9rem;
    border-right: 1px solid #fff;
}
footer #FooterLegal a:hover{
    text-decoration: underline;
}

footer #FooterLegal a:last-child{
    padding-right: 0;
    margin-right: 0;
    border: none;
}
@media(max-width: 600px){
    footer{
        padding: 50px 30px;
    }
    footer div.container{
        display: block;
    }
    footer div.container div.info-cont{
        width: 100%;
        margin-top: 50px;
    }
    footer #FooterLegal{
        display: block;
        padding: 50px 0 0 0;
    }
    footer #FooterLegal a{
        color: white;
        padding: 5px;
        display: block;
        padding-right: 15px;
        margin-right: 5px;
        font-size: 1rem;
        border-right: none;
    }
}








/* ************************ Tecnicos Section ********************** */

#TecnicosContainer section#MainBanner .container{
    height: 100%;
    position: relative;
}
#TecnicosContainer section#MainBanner .container .slider-infocont{
    right: 0;
    width: 50%;
    left: inherit;
}
#TecnicosContainer section#IntroSection{
    padding: 100px 0;
}
#TecnicosContainer section#IntroSection h2{
    font-size: 3rem;
    text-align: center;
    font-weight: normal;
}
#TecnicosContainer section#IntroSection h2 a{
    color: #f63f57;
    font-weight: bold;
    text-decoration: underline;
}
#TecnicosContainer section#TableContacts .container table{
    border: none;
}
#TecnicosContainer section#TableContacts .container table td{
    font-size: 1.3rem;
    padding: 5px 15px;
}
#TecnicosContainer section#TableContacts .container table td a{
    color: #f63f57;
}
#TecnicosContainer section#TableContacts .container table th{
    background-color: #f63f57;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 1.5rem;
}
#TecnicosContainer section#TableContacts .container table tr:nth-child(even) {
    background-color: #ffd3d9;
}

@media(max-width: 600px){
    #TecnicosContainer section#IntroSection h2{
        font-size: 2rem;
    }
    #TecnicosContainer section#TableContacts .container{
        padding: 0;
    }
    #TecnicosContainer section#TableContacts .container table th{
        font-size: 1.5rem;
    }
    #TecnicosContainer section#TableContacts .container table td{
        font-size: 0.9rem;
        padding: 5px 15px;
    }
}







  /* ************************ Noticias Section ********************** */
#NoticiasContainer section#MainBanner .container{
    height: 100%;
    position: relative;
}
#NoticiasContainer section#IntroSection{
    padding: 100px 0;
}
#NoticiasContainer section#IntroSection h2{
    font-size: 3rem;
    text-align: center;
    font-weight: normal;
}
#NoticiasContainer section#IntroSection h2 a{
    color: #f63f57;
    font-weight: bold;
    text-decoration: underline;
}

#NoticiasContainer section#NewsContainerList .container .item-new{
    width: 100%;
    display: flex;
    padding: 20px 0;
}

#NoticiasContainer section#NewsContainerList .container .item-new .img-cont{
    width: 40%;
}
#NoticiasContainer section#NewsContainerList .container .item-new .info-cont{
    width: 60%;
    padding-left: 10%;
}
#NoticiasContainer section#NewsContainerList .container .item-new .info-cont h3{
    font-size: 3rem;
}
#NoticiasContainer section#NewsContainerList .container .item-new .info-cont p{
    font-size: 2rem;
}
#NoticiasContainer section#NewsContainerList .container .item-new .info-cont a{
    color: #f63f57;
    font-size: 2rem;
    display: block;
    margin: 0 0 0 auto;
    width: 200px;
    padding: 20px;
}

@media(max-width: 600px){
    #NoticiasContainer section#IntroSection h2{
        font-size: 2rem;
    }
    #NoticiasContainer section#NewsContainerList .container .item-new{
        display: block ;
    }
    #NoticiasContainer section#NewsContainerList .container .item-new .img-cont{
        width: 100%;
    }
    #NoticiasContainer section#NewsContainerList .container .item-new .info-cont{
        width: 100%;
        padding: 0;
    }
}






  /* ************************ Calendario Section ********************** */

#CalendarioContainer section#DatesListContent{
    padding-bottom: 50px;
}
#CalendarioContainer section#MainBanner .container{
    height: 100%;
    position: relative;
}
#CalendarioContainer section#IntroSection{
    padding: 100px 0;
}
#CalendarioContainer section#IntroSection h2{
    font-size: 3rem;
    text-align: center;
    font-weight: normal;
}
#CalendarioContainer section#IntroSection h2 a{
    color: #f63f57;
    font-weight: bold;
    text-decoration: underline;
}
#CalendarioContainer section#DatesListContent .container h3{
    font-size: 3rem;
    padding-bottom: 40px;
}
#CalendarioContainer section#DatesListContent .container table tr td{
    padding: 40px 0;
    border-bottom: 2px solid rgb(202, 202, 202);
}
#CalendarioContainer section#DatesListContent .container table td:first-child{
    text-align: center;
}
#CalendarioContainer section#DatesListContent .container table td p{
    font-size: 2rem;
}
#CalendarioContainer section#DatesListContent .container table td a{
    width: 100%;
}

@media(max-width: 600px){
    #CalendarioContainer section#DatesListContent{
        padding-bottom: 50px;
    }
    #CalendarioContainer section#IntroSection{
        padding: 50px 0;
    }
    #CalendarioContainer section#IntroSection h2{
        font-size: 2rem;
    }
    #CalendarioContainer section#DatesListContent .container h3{
        font-size: 2rem;
        padding: 20px;
    }
    #CalendarioContainer section#DatesListContent .container{
        padding: 0;
    }
    #CalendarioContainer section#DatesListContent .container table tr td{
        padding: 15px 0;
    }
    #CalendarioContainer section#DatesListContent .container table td p{
        font-size: 0.9rem;
    }
    #CalendarioContainer section#DatesListContent .container table td a{
        font-size: 0.9rem;
        padding: 5px 15px;
        padding: 5px;
        font-size: 0.6;
    }
}




 /* ************************ Certificacion Section ********************** */

 #CertificacionContainer section#DatesListContent{
    padding-bottom: 50px;
}
#CertificacionContainer section#MainBanner .container{
    height: 100%;
    position: relative;
}
#CertificacionContainer section#IntroSection{
    padding: 100px 0;
}
#CertificacionContainer #IntroSection .container h1{
    font-size: 4rem;
    text-align: center;
    font-weight: normal;
    margin-bottom: 80px;
}
#CertificacionContainer section#IntroSection h2{
    font-size: 3rem;
    text-align: center;
    font-weight: normal;
}
#CertificacionContainer section#IntroSection h2 a{
    color: #f63f57;
    font-weight: bold;
    text-decoration: underline;
}
#CertificacionContainer section#StepcsCert .container .item-step{
    position: relative;
    padding-bottom: 50px;
    min-height: 150px;
}
#CertificacionContainer section#StepcsCert .container .item-step p{
    position: absolute;
    left: 0;
    top: -10px;
    font-size: 9rem;
    color: #f63f57;
    font-weight: bold;
}
#CertificacionContainer section#StepcsCert .container .item-step h3 a{
    color: #f63f57;
}
#CertificacionContainer section#StepcsCert .container .item-step h3{
    padding-left: 150px;
    font-size: 2rem;
    font-weight: normal;
}
#CertificacionContainer section#StepcsCert .container .center{
    display: flex;
    align-items: center;
    justify-content: center;
}
#CertificacionContainer section#StepcsCert .container .center .main-button{
    margin-top: 40px;
    margin-bottom: 40px;
    cursor: pointer;
}










/* #ContactoContainer */

#ContactoContainer{
    padding-top: 200px;
}
#ContactoContainer section#ContactFormSection .container h2{
    text-align: center;
    font-size: 3rem;
    color: #f63f57;
}
#ContactoContainer section#ContactFormSection .container p{
    text-align: center;
    font-size: 2rem;
    padding:30px 0
}
#ContactoContainer section#ContactFormSection .container #ContactForm{
    padding: 100px 0;
}
#ContactoContainer section#ContactFormSection .container .row{
    display: flex;
}
#ContactoContainer section#ContactFormSection .container .row .item:first-child{
    padding-right: 20px;
}
#ContactoContainer section#ContactFormSection .container .row .item:last-child{
    padding-left: 20px;
}
#ContactoContainer section#ContactFormSection .container .row .item{
    width: 50%;
    padding: 50px 0;
}
#ContactoContainer section#ContactFormSection .container .row .item label{
    display: block;
    font-size: 2rem;
    padding-bottom: 10px;
    color: gray;
}
#ContactoContainer section#ContactFormSection .container .row .item input[type="text"], input[type="email"], input[type="tel"]{
    display: block;
    padding: 15px;
    font-size: 2rem;
    width: 100%;
    background-color: rgb(243, 243, 243);
    border-bottom: 2px solid gray;
}
#ContactoContainer section#ContactFormSection .container .row .item .row .space{
    margin-right: 50px;
    margin-left: 10px;
    color: black;
}
#ContactoContainer section#ContactFormSection .container .row .item .dropDown{
    display: block;
    padding: 15px;
    font-size: 2rem;
    width: 100%;
    background-color: rgb(243, 243, 243);
    border: 2px solid gray;
}
#ContactoContainer section#ContactFormSection .container #ContactForm #ReceiveInfoCheckbox{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    color: black;
    margin: 50px auto;
}
#ContactoContainer section#ContactFormSection .container #ContactForm #ReceiveInfoCheckbox label{
    font-size: 2rem;
}
#ContactoContainer section#ContactFormSection .container #ContactForm button.main-button{
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 200px;
    cursor: pointer;
}

@media(max-width: 600px){
    #ContactoContainer section#ContactFormSection .container #ContactForm{
        padding: 0 0 100px 0;
    }
    #ContactoContainer section#ContactFormSection .container .row{
        display: block;
    }
    #ContactoContainer section#ContactFormSection .container .row .item{
        width: 100%;
        padding: 10px 0 !important;
    }
    #ContactoContainer section#ContactFormSection .container .row .item label{
        text-align: center;
        padding-bottom: 5px;
        font-size: 1.4rem;
    }
    #ContactoContainer section#ContactFormSection .container .row .item input[type="text"]{
        font-size: 1rem;
    }
}
#Table .container{
    padding: 20px;
}
#Table .container .row{
    display: flex;
    justify-content: center;
}
#Table .container .row .table {
    width: 50%;
    height: 100%;
    border: 2px solid gray;
}

#Table .container .row .table h1{
    padding: 20px;
    font-size: 2em;
}
#Table .container .row .main-button{
    margin-top: 40px;
    cursor: pointer;
}
